{% extends 'base.html' %}
{% block content %}

<section style="margin-top: 50px; margin-bottom: 50px; min-height: 50vh;">
    <div class="password-reset-done">

        <div class="container">

            <div class="row">
                <div class="col-12">
                    <div class="pb-5 mt-4">
                        <h2>Reset Password</h2>
                    </div>
                </div>
            </div>

            <div>
                <p>I have mailed you instruction for resetting your password.</p>
                <p>If you have didn't recive it verified you entered the correct email or check your spam folder.</p>
            </div>

        </div>

    </div>
</section>

{% endblock %}