{% extends 'base.html' %}
{% block content %}



<section >
    <h1 class="heading">Forgot Password</h1>
    <div class="password-reset-done">

        <div class="container ">

            <div class="row">
                <div class="col-md-12">
                    <div class="header text-center pb-5 mt-4">
                        <h2 style="text-transform: none;">Password has been changed</h2>
                    </div>
                </div>
            </div>

            <div>
                <p class="text-center">You may go ahead and login now. </p>
                <center>
                    <div class="text-center">
                        <a href="{% url 'login' %}" class="reset-button">Sign In</a>
                    </div>
                </center>
            </div>

        </div>

    </div>
</section>

{% endblock %}