{% extends 'base.html' %}
{% block content %}


<!-- password-reset-form  -->

<section class="py-2">
    <div class="profile-page">

        <div class="container"> 

            <div class="row profile-update">
                <div class="col-md-12">
                    <div class="header text-center pb-5 mt-4">
                        <h1>Forgot Password</h1>
                    </div>
                </div>
            </div>

            <div class="row profile-main">
        
                <div class="col-md-12 col-lg-6">

                    <form method="POST">
                        {% csrf_token %}
                            <div class="row">
                                <div class="col-12">
                                    <h3 class="mb-6">Login to Your Account!</h3>
                                    {% include 'components/message.html' %}
                                </div>
                            </div>
                           
                            <div class="row">
                                <div class="col-12">
                                    <div class="profile-input-field">
                                        <label for="Email">{{field.label_tag}}</label>
                                        <p>{{ form }}</p>
                                    </div>
                                </div>
                            </div>

                            <div class="profile-input-field"></div>
                                <input type="submit" class="profile-button" value="Send Confirmation Link">
                            </div>

                    </form>
                </div>
            </div>

        </div>

    </div>
</section>


{% endblock %}
