{% extends 'base.html' %}
{% load static %}

{% block content %}


    <!-- section-1 banner-section  -->

    <section id="banner">
        <div class="wrapper about-us-page">
            <div class="container">
                <div class="about-us">
                    <div class="banner-text">
                        <h1 class="heading ">About Us</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- section-2 about-section  -->

        <div class="container mb-5">
            <div class="about-text">
                <h2 class="mb-2">About Sarvato Bhadra Gems</h2>
                <hr>
                <p>Sarvato Bhadra Gems (Rare Rough Gems and Stones), aim is Customer Satisfaction.</p>
                <p>Sarvatobhadra Gems is a website that sells gems and jewellery online. The website was founded in 2023 by a team of gemologists and jewellers with over 5 years of experience in the industry. Sarvatobhadra Gems sources its gems from all over the world, including India, Brazil, and Africa. The website offers a wide variety of gems, including diamonds, rubies, sapphires, emeralds, and colored gemstones.
                </p>
                <p>
                    Sarvato Bhadra Gems has a good reputation for quality and customer service. The website offers a 100% satisfaction guarantee on all purchases. Sarvatobhadra Gems also offers a variety of financing options to make it easier for customers to afford their purchases.
                </p>
                <p>
                    We have built a strong reputation and earned the trust of thousands of customers just like you, our
                    dedication to best in class customer service means that you will notice a difference.
                </p>
                <p>
                    We hold ourselves fully accountable to our commitment to provide each and every client with a
                    superior level of services.
                </p>

                <p>Here are some additional details about Sarvatobhadra Gems :-

                    <li>The website is based in India.</li>

                    <li>The website offers free shipping within India.</li>
                    
                    <li>If you are looking for a reputable website to buy gems and jewelry online, Sarvatobhadra Gems is a good option.</li>
                    
                </p>
                <p>
                    Thanks for your precious time.
                </p>
            </div>
        </div>



{% endblock %}