{% extends 'base.html' %}
{% load static %}

{% block content %}

    <!-- ======= banner-section ======= -->

    <section id="banner">
        <div class="diamond-page">
            <div class="banner-text container" >
                <h1 class="heading">Diamond Products</h1>
            </div>
        </div>
    </section>

    <!-- ======= Gallery Section ======= -->
    <section id="portfolio" class="portfolio">
        <div class="container" data-aos="fade-up">
  
  
          <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">
  
            <div class="col-lg-4 col-md-6 portfolio-item">
              <img src="{% static 'assets/img/product-img/Diamond_products/img1.jpg ' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Diamond Products</h4>
                <a href="{% static 'assets/img/product-img/Diamond_products/img1.jpg ' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Diamond Products"><i class="bx bx-plus"></i></a>
                </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item">
              <img src="{% static 'assets/img/product-img/Diamond_products/img2.png ' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Diamond Products</h4>
                <a href="{% static 'assets/img/product-img/Diamond_products/img2.png ' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Diamond Products"><i class="bx bx-plus"></i></a>
            </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item">
              <img src="{% static 'assets/img/product-img/Diamond_products/img3.jpg ' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Diamond Products</h4>
                <a href="{% static 'assets/img/product-img/Diamond_products/img3.jpg ' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Diamond Products"><i class="bx bx-plus"></i></a>
            </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item">
              <img src="{% static 'assets/img/product-img/Diamond_products/img4.jpg ' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Diamond Products</h4>
                <a href="{% static 'assets/img/product-img/Diamond_products/img4.jpg ' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Diamond Products"><i class="bx bx-plus"></i></a>
            </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item">
              <img src="{% static 'assets/img/product-img/Diamond_products/img5.jpg ' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Diamond Products</h4>
                <a href="{% static 'assets/img/product-img/Diamond_products/img5.jpg ' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Diamond Products"><i class="bx bx-plus"></i></a>
            </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item">
              <img src="{% static 'assets/img/product-img/Diamond_products/img6.jpg ' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Diamond Products</h4>
                <a href="{% static 'assets/img/product-img/Diamond_products/img6.jpg ' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Diamond Products"><i class="bx bx-plus"></i></a>
            </div>
            </div>
  
  
            <div class="col-lg-4 col-md-6 portfolio-item">
              <img src="{% static 'assets/img/product-img/Diamond_products/img8.jpg ' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Diamond Products</h4>
                <a href="{% static 'assets/img/product-img/Diamond_products/img8.jpg ' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Diamond Products"><i class="bx bx-plus"></i></a>
            </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item">
              <img src="{% static 'assets/img/product-img/Diamond_products/img9.jpg ' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Diamond Products</h4>
                <a href="{% static 'assets/img/product-img/Diamond_products/img9.jpg ' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Diamond Products"><i class="bx bx-plus"></i></a>
            </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item">
              <img src="{% static 'assets/img/product-img/Diamond_products/img10.jpg ' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Diamond Products</h4>
                <a href="{% static 'assets/img/product-img/Diamond_products/img10.jpg ' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Diamond Products"><i class="bx bx-plus"></i></a>
            </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item">
              <img src="{% static 'assets/img/product-img/Diamond_products/img12.jpg ' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Diamond Products</h4>
                <a href="{% static 'assets/img/product-img/Diamond_products/img12.jpg ' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Diamond Products"><i class="bx bx-plus"></i></a>
            </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item">
              <img src="{% static 'assets/img/product-img/Diamond_products/img13.jpg ' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Diamond Products</h4>
                <a href="{% static 'assets/img/product-img/Diamond_products/img13.jpg ' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Diamond Products"><i class="bx bx-plus"></i></a>
            </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item">
              <img src="{% static 'assets/img/product-img/Diamond_products/img14.jpg ' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Diamond Products</h4>
                <a href="{% static 'assets/img/product-img/Diamond_products/img14.jpg ' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Diamond Products"><i class="bx bx-plus"></i></a>
            </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item">
              <img src="{% static 'assets/img/product-img/Diamond_products/img15.jpg ' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Diamond Products</h4>
                <a href="{% static 'assets/img/product-img/Diamond_products/img15.jpg ' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Diamond Products"><i class="bx bx-plus"></i></a>
            </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item">
              <img src="{% static 'assets/img/product-img/Diamond_products/img16.jpg ' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Diamond Products</h4>
                <a href="{% static 'assets/img/product-img/Diamond_products/img16.jpg ' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Diamond Products"><i class="bx bx-plus"></i></a>
            </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item">
              <img src="{% static 'assets/img/product-img/Diamond_products/img17.jpg ' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Diamond Products</h4>
                <a href="{% static 'assets/img/product-img/Diamond_products/img17.jpg ' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Diamond Products"><i class="bx bx-plus"></i></a>
            </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item">
              <img src="{% static 'assets/img/product-img/Diamond_products/img18.jpg ' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Diamond Products</h4>
                <a href="{% static 'assets/img/product-img/Diamond_products/img18.jpg ' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Diamond Products"><i class="bx bx-plus"></i></a>
            </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item">
              <img src="{% static 'assets/img/product-img/Diamond_products/img19.jpg ' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Diamond Products</h4>
                <a href="{% static 'assets/img/product-img/Diamond_products/img19.jpg ' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Diamond Products"><i class="bx bx-plus"></i></a>
            </div>
            </div>
  

  
  
          </div>
  
        </div>
      </section>
      <!-- End Gallery Section -->

{% endblock %}