{% extends 'base.html' %}
{% load static %}

{% block content %}

    <!-- ======= banner-section ======= -->

    <section id="banner">
        <div class="faceted-page">
            <div class="banner-text container" >
                <h1 class="heading">Faceted Stones</h1>
            </div>
        </div>
    </section>

    <!-- ======= Gallery Section ======= -->
    <section id="portfolio" class="portfolio">
        <div class="container" data-aos="fade-up">
  
  
          <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">
  
            <div class="col-lg-4 col-md-6 portfolio-item">
              <img src="{% static 'assets/img/product-img/faceted/img.jpg ' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Faceted Stones</h4>
                <a href="{% static 'assets/img/product-img/faceted/img.jpg ' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Faceted Stones"><i class="bx bx-plus"></i></a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item">
              <img src="{% static 'assets/img/product-img/faceted/img1.jpg ' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Faceted Stones</h4>
                <a href="{% static 'assets/img/product-img/faceted/img1.jpg ' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Faceted Stones"><i class="bx bx-plus"></i></a>
                </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item">
              <img src="{% static 'assets/img/product-img/faceted/img2.jpg ' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Faceted Stones</h4>
                <a href="{% static 'assets/img/product-img/faceted/img2.jpg ' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Faceted Stones"><i class="bx bx-plus"></i></a>
            </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item">
              <img src="{% static 'assets/img/product-img/faceted/img3.jpg ' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Faceted Stones</h4>
                <a href="{% static 'assets/img/product-img/faceted/img3.jpg ' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Faceted Stones"><i class="bx bx-plus"></i></a>
            </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item">
              <img src="{% static 'assets/img/product-img/faceted/img4.jpg ' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Faceted Stones</h4>
                <a href="{% static 'assets/img/product-img/faceted/img4.jpg ' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Faceted Stones"><i class="bx bx-plus"></i></a>
            </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item">
              <img src="{% static 'assets/img/product-img/faceted/img5.jpg ' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Faceted Stones</h4>
                <a href="{% static 'assets/img/product-img/faceted/img5.jpg ' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Faceted Stones"><i class="bx bx-plus"></i></a>
            </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item">
              <img src="{% static 'assets/img/product-img/faceted/img6.jpg ' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Faceted Stones</h4>
                <a href="{% static 'assets/img/product-img/faceted/img6.jpg ' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Faceted Stones"><i class="bx bx-plus"></i></a>
            </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item">
              <img src="{% static 'assets/img/product-img/faceted/img7.jpg ' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Faceted Stones</h4>
                <a href="{% static 'assets/img/product-img/faceted/img7.jpg ' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Faceted Stones"><i class="bx bx-plus"></i></a>
            </div>
            </div>
  
  
            <div class="col-lg-4 col-md-6 portfolio-item">
              <img src="{% static 'assets/img/product-img/faceted/img8.jpg ' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Faceted Stones</h4>
                <a href="{% static 'assets/img/product-img/faceted/img8.jpg ' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Faceted Stones"><i class="bx bx-plus"></i></a>
            </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item">
              <img src="{% static 'assets/img/product-img/faceted/img9.jpg ' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Faceted Stones</h4>
                <a href="{% static 'assets/img/product-img/faceted/img9.jpg ' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Faceted Stones"><i class="bx bx-plus"></i></a>
            </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item">
              <img src="{% static 'assets/img/product-img/faceted/img10.jpg ' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Faceted Stones</h4>
                <a href="{% static 'assets/img/product-img/faceted/img10.jpg ' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Faceted Stones"><i class="bx bx-plus"></i></a>
            </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item">
              <img src="{% static 'assets/img/product-img/faceted/img11.jpg ' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Faceted Stones</h4>
                <a href="{% static 'assets/img/product-img/faceted/img11.jpg ' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Faceted Stones"><i class="bx bx-plus"></i></a>
            </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item">
              <img src="{% static 'assets/img/product-img/faceted/img12.jpg ' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Faceted Stones</h4>
                <a href="{% static 'assets/img/product-img/faceted/img12.jpg ' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Faceted Stones"><i class="bx bx-plus"></i></a>
            </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item">
              <img src="{% static 'assets/img/product-img/faceted/img13.jpg ' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Faceted Stones</h4>
                <a href="{% static 'assets/img/product-img/faceted/img13.jpg ' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Faceted Stones"><i class="bx bx-plus"></i></a>
            </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item">
              <img src="{% static 'assets/img/product-img/faceted/img14.jpg ' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Faceted Stones</h4>
                <a href="{% static 'assets/img/product-img/faceted/img14.jpg ' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Faceted Stones"><i class="bx bx-plus"></i></a>
            </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item">
              <img src="{% static 'assets/img/product-img/faceted/img15.jpg ' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Faceted Stones</h4>
                <a href="{% static 'assets/img/product-img/faceted/img15.jpg ' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Faceted Stones"><i class="bx bx-plus"></i></a>
            </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item">
              <img src="{% static 'assets/img/product-img/faceted/img16.jpg ' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Faceted Stones</h4>
                <a href="{% static 'assets/img/product-img/faceted/img16.jpg ' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Faceted Stones"><i class="bx bx-plus"></i></a>
            </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item">
              <img src="{% static 'assets/img/product-img/faceted/img17.jpg ' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Faceted Stones</h4>
                <a href="{% static 'assets/img/product-img/faceted/img17.jpg ' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Faceted Stones"><i class="bx bx-plus"></i></a>
            </div>
            </div>
 
          </div>
  
        </div>
      </section>
      <!-- End Gallery Section -->
{% endblock %}