{% extends 'base.html' %}
{% load static %}

{% block content %}

    <!-- ======= banner-section ======= -->

    <section id="banner">
        <div class="jewellery-page">
            <div class="banner-text container" >
                <h1 class="heading">Jewellery</h1>
            </div>
        </div>
    </section>

    <!-- ======= Gallery Section ======= -->
    <section id="portfolio" class="portfolio">
        <div class="container" data-aos="fade-up">
  
  
          <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">
  
            <div class="col-lg-4 col-md-6 portfolio-item">
              <img src="{% static 'assets/img/product-img/jewellery/img.jpg ' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Jewellery</h4>
                <a href="{% static 'assets/img/product-img/jewellery/img.jpg ' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Jewellery"><i class="bx bx-plus"></i></a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item">
              <img src="{% static 'assets/img/product-img/jewellery/img1.jpg ' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Jewellery</h4>
                <a href="{% static 'assets/img/product-img/jewellery/img1.jpg ' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Jewellery"><i class="bx bx-plus"></i></a>
                </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item">
              <img src="{% static 'assets/img/product-img/jewellery/img2.jpg ' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Jewellery</h4>
                <a href="{% static 'assets/img/product-img/jewellery/img2.jpg ' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Jewellery"><i class="bx bx-plus"></i></a>
            </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item">
              <img src="{% static 'assets/img/product-img/jewellery/img3.jpg ' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Jewellery</h4>
                <a href="{% static 'assets/img/product-img/jewellery/img3.jpg ' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Jewellery"><i class="bx bx-plus"></i></a>
            </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item">
              <img src="{% static 'assets/img/product-img/jewellery/img4.jpg ' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Jewellery</h4>
                <a href="{% static 'assets/img/product-img/jewellery/img4.jpg ' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Jewellery"><i class="bx bx-plus"></i></a>
            </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item">
              <img src="{% static 'assets/img/product-img/jewellery/img5.jpg ' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Jewellery</h4>
                <a href="{% static 'assets/img/product-img/jewellery/img5.jpg ' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Jewellery"><i class="bx bx-plus"></i></a>
            </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item">
              <img src="{% static 'assets/img/product-img/jewellery/img6.jpg ' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Jewellery</h4>
                <a href="{% static 'assets/img/product-img/jewellery/img6.jpg ' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Jewellery"><i class="bx bx-plus"></i></a>
            </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item">
              <img src="{% static 'assets/img/product-img/jewellery/img7.jpg ' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Jewellery</h4>
                <a href="{% static 'assets/img/product-img/jewellery/img7.jpg ' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Jewellery"><i class="bx bx-plus"></i></a>
            </div>
            </div>
  
  
            <div class="col-lg-4 col-md-6 portfolio-item">
              <img src="{% static 'assets/img/product-img/jewellery/img8.jpg ' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Jewellery</h4>
                <a href="{% static 'assets/img/product-img/jewellery/img8.jpg ' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Jewellery"><i class="bx bx-plus"></i></a>
            </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item">
              <img src="{% static 'assets/img/product-img/jewellery/img9.jpg ' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Jewellery</h4>
                <a href="{% static 'assets/img/product-img/jewellery/img9.jpg ' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Jewellery"><i class="bx bx-plus"></i></a>
            </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item">
              <img src="{% static 'assets/img/product-img/jewellery/img10.jpg ' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Jewellery</h4>
                <a href="{% static 'assets/img/product-img/jewellery/img10.jpg ' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Jewellery"><i class="bx bx-plus"></i></a>
            </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item">
              <img src="{% static 'assets/img/product-img/jewellery/img11.jpg ' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Jewellery</h4>
                <a href="{% static 'assets/img/product-img/jewellery/img11.jpg ' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Jewellery"><i class="bx bx-plus"></i></a>
            </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item">
              <img src="{% static 'assets/img/product-img/jewellery/img12.jpg ' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Jewellery</h4>
                <a href="{% static 'assets/img/product-img/jewellery/img12.jpg ' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Jewellery"><i class="bx bx-plus"></i></a>
            </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item">
              <img src="{% static 'assets/img/product-img/jewellery/img13.jpg ' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Jewellery</h4>
                <a href="{% static 'assets/img/product-img/jewellery/img13.jpg ' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Jewellery"><i class="bx bx-plus"></i></a>
            </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item">
              <img src="{% static 'assets/img/product-img/jewellery/img14.jpg ' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Jewellery</h4>
                <a href="{% static 'assets/img/product-img/jewellery/img14.jpg ' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Jewellery"><i class="bx bx-plus"></i></a>
            </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item">
              <img src="{% static 'assets/img/product-img/jewellery/img15.jpg ' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Jewellery</h4>
                <a href="{% static 'assets/img/product-img/jewellery/img15.jpg ' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Jewellery"><i class="bx bx-plus"></i></a>
            </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item">
              <img src="{% static 'assets/img/product-img/jewellery/img16.jpg ' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Jewellery</h4>
                <a href="{% static 'assets/img/product-img/jewellery/img16.jpg ' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Jewellery"><i class="bx bx-plus"></i></a>
            </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item">
              <img src="{% static 'assets/img/product-img/jewellery/img17.jpg ' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Jewellery</h4>
                <a href="{% static 'assets/img/product-img/jewellery/img17.jpg ' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Jewellery"><i class="bx bx-plus"></i></a>
            </div>
            </div>
 
            <div class="col-lg-4 col-md-6 portfolio-item">
              <img src="{% static 'assets/img/product-img/jewellery/img18.jpg ' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Jewellery</h4>
                <a href="{% static 'assets/img/product-img/jewellery/img18.jpg ' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Jewellery"><i class="bx bx-plus"></i></a>
            </div>
            </div>
 
            <div class="col-lg-4 col-md-6 portfolio-item">
              <img src="{% static 'assets/img/product-img/jewellery/img19.jpg ' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Jewellery</h4>
                <a href="{% static 'assets/img/product-img/jewellery/img19.jpg ' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Jewellery"><i class="bx bx-plus"></i></a>
            </div>
            </div>
 
            <div class="col-lg-4 col-md-6 portfolio-item">
              <img src="{% static 'assets/img/product-img/jewellery/img20.jpg ' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Jewellery</h4>
                <a href="{% static 'assets/img/product-img/jewellery/img20.jpg ' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Jewellery"><i class="bx bx-plus"></i></a>
            </div>
            </div>
 
            <div class="col-lg-4 col-md-6 portfolio-item">
              <img src="{% static 'assets/img/product-img/jewellery/img21.jpg ' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Jewellery</h4>
                <a href="{% static 'assets/img/product-img/jewellery/img21.jpg ' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Jewellery"><i class="bx bx-plus"></i></a>
            </div>
            </div>
 
            <div class="col-lg-4 col-md-6 portfolio-item">
              <img src="{% static 'assets/img/product-img/jewellery/img22.jpg ' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Jewellery</h4>
                <a href="{% static 'assets/img/product-img/jewellery/img22.jpg ' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Jewellery"><i class="bx bx-plus"></i></a>
            </div>
            </div>
 
            <div class="col-lg-4 col-md-6 portfolio-item">
              <img src="{% static 'assets/img/product-img/jewellery/img23.jpg ' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Jewellery</h4>
                <a href="{% static 'assets/img/product-img/jewellery/img23.jpg ' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Jewellery"><i class="bx bx-plus"></i></a>
            </div>
            </div>
 
            <div class="col-lg-4 col-md-6 portfolio-item">
              <img src="{% static 'assets/img/product-img/jewellery/img24.jpg ' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Jewellery</h4>
                <a href="{% static 'assets/img/product-img/jewellery/img24.jpg ' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Jewellery"><i class="bx bx-plus"></i></a>
            </div>
            </div>
 
            <div class="col-lg-4 col-md-6 portfolio-item">
              <img src="{% static 'assets/img/product-img/jewellery/img25.jpg ' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Jewellery</h4>
                <a href="{% static 'assets/img/product-img/jewellery/img25.jpg ' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Jewellery"><i class="bx bx-plus"></i></a>
            </div>
            </div>
 
          </div>
  
        </div>
      </section>
      <!-- End Gallery Section -->
{% endblock %}