{% extends 'base.html' %}
{% load static %}

{% block content %}

<style>
    .img-fluid {
        height: 300px;
        width: 100%;
        border-radius: 20px;
        box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.2);
    }
</style>

<!-- all products page  -->

<section id="products" style="margin-top: 50px;">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h1 style="color: black;">All Products</h1>
            </div>
        </div>
    </div>
    <div class="products">
        <div class="container">

            <div class="row">
                <div class="col-12">
                    <h2>Rudraksha Mala</h2>
                    <p>A Rudraksha mala is a string of prayer beads made from the seeds of the Rudraksha tree
                        (Elaeocarpus ganitrus). Rudraksha beads are considered sacred and have been used for centuries
                        in Hinduism and other spiritual traditions, particularly in India and Nepal. These beads are
                        believed to possess unique spiritual and healing properties.</p>

                    <p>Rudraksha beads have several facets or "mukhis" on their surface, ranging from one to twenty-one
                        or more. The number of mukhis on a Rudraksha bead is significant, as each type is associated
                        with specific deities and is believed to have its own set of spiritual benefits. For example, a
                        five-mukhi Rudraksha is the most common and is associated with Lord Shiva. Different types of
                        Rudraksha beads are used for various purposes, such as meditation, protection, and achieving
                        specific spiritual goals.</p>

                    <p>A Rudraksha mala is typically strung with 108 Rudraksha beads, along with a larger bead known as
                        the "guru bead" or "sumeru." The mala is used for counting repetitions of prayers, mantras, or
                        affirmations during meditation or religious practices. When you reach the guru bead while
                        counting, you can choose to continue in the same direction or reverse the count without crossing
                        the guru bead, as it represents a point of reflection and gratitude.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-12 col-lg-3 mb-4">
                    <img src="{% static 'assets/img/product-img/product/p1.jpeg' %}" class="img-fluid" alt="img1">
                </div>
                <div class="col-md-6 col-12 col-lg-3 mb-4">
                    <img src="{% static 'assets/img/product-img/product/r1.jpeg' %}" class="img-fluid" alt="img1">
                </div>
                <div class="col-md-6 col-12 col-lg-3 mb-4">
                    <img src="{% static 'assets/img/product-img/product/r2.jpeg' %}" class="img-fluid" alt="img1">
                </div>
                <div class="col-md-6 col-12 col-lg-3 mb-4">
                    <img src="{% static 'assets/img/product-img/product/r3.jpeg' %}" class="img-fluid" alt="img1">
                </div>
            </div>

        </div>
        <div class="container mt-5">

            <div class="row">
                <div class="col-12">
                    <h2> Ashta Lakshmi Yantra Chowki</h2>
                    <p>The Ashta Lakshmi Yantra Chowki is a sacred and auspicious symbol in Hinduism, particularly in
                        the worship of Goddess Lakshmi, the goddess of wealth and prosperity. The term "Ashta Lakshmi"
                        means "eight Lakshmis," and this yantra represents the eight different forms or manifestations
                        of Goddess Lakshmi, each of which bestows a specific type of prosperity or wealth. The Ashta
                        Lakshmi Yantra Chowki is used in spiritual practices and rituals to seek the blessings of these
                        eight forms of wealth.</p>

                    <p>The eight forms of Goddess Lakshmi represented in the Ashta Lakshmi Yantra Chowki are:
                        Adi Lakshmi: The primal goddess who is the source of all wealth.
                        Dhana Lakshmi: The giver of material wealth and prosperity.
                        Dhanya Lakshmi: The provider of agricultural wealth and food grains.
                        Gaja Lakshmi: The giver of the wealth of elephants, representing royalty and power.
                        Santana Lakshmi: The bestower of the wealth of children and progeny.
                        Vijaya Lakshmi: The giver of victory, courage, and success.
                        Aishwarya Lakshmi: The provider of spiritual wealth and knowledge.
                        Veera Lakshmi: The giver of valor and strength.
                        The Ashta Lakshmi Yantra Chowki typically consists of a Yantra, a sacred geometric diagram,
                        placed on a raised platform or pedestal (the "Chowki"). This Yantra incorporates the eight forms
                        of Lakshmi and is used for worship, meditation, and seeking the blessings of Goddess Lakshmi for
                        various types of wealth and prosperity.</p>

                    <p>evotees often place the Ashta Lakshmi Yantra Chowki in their homes, temples, or places of
                        worship, and they perform daily or occasional rituals and pujas to honor and seek the blessings
                        of the eight forms of Lakshmi. It is believed that by meditating and offering prayers to this
                        Yantra Chowki, individuals can attract prosperity, good fortune, and abundance in all aspects of
                        life.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-12 col-lg-3 mb-4">
                    <img src="{% static 'assets/img/product-img/product/p5.jpeg' %}" class="img-fluid" alt="img1">
                </div>
                <div class="col-md-6 col-12 col-lg-3 mb-4">
                    <img src="{% static 'assets/img/product-img/product/p6.jpeg' %}" class="img-fluid" alt="img1">
                </div>
                <div class="col-md-6 col-12 col-lg-3 mb-4">
                    <img src="{% static 'assets/img/product-img/product/a1.png' %}" class="img-fluid" alt="img1">
                </div>
                <div class="col-md-6 col-12 col-lg-3 mb-4">
                    <img src="{% static 'assets/img/product-img/product/r4.jpeg' %}" class="img-fluid" alt="img1">
                </div>

            </div>


        </div>
        <div class="container mt-5">

            <div class="row">
                <div class="col-12">
                    <h2>Shree Yantra Chowki</h2>
                    <p>A Shree Yantra Chowki, often referred to as a Shree Yantra on a pedestal or platform, is a sacred
                        and powerful symbol in Hinduism. The Shree Yantra is a geometric design that represents the
                        goddess Lalita Tripura Sundari, also known as the Divine Mother or Mahalakshmi. It is a symbol
                        of prosperity, abundance, and spiritual well-being.</p>

                    <p>The Shree Yantra is composed of nine interlocking triangles, with a dot in the center
                        (representing the Divine), surrounded by lotus petals, and enclosed within a square. The Shree
                        Yantra is a visual representation of the cosmic and spiritual principles, and it is believed to
                        have the power to attract positive energy and bring blessings into one's life.</p>

                    <p>A Shree Yantra Chowki typically consists of a Shree Yantra placed on a small raised platform or
                        pedestal. It is often made from various materials, including metals like brass or silver, or
                        even carved from wood. Devotees use it as a sacred object for worship, meditation, and spiritual
                        practices. It is believed that meditating on the Shree Yantra or keeping it in one's home or
                        place of worship can bring prosperity, harmony, and spiritual growth.
                    </p>

                    <p>People may offer prayers, light lamps, and perform rituals around the Shree Yantra Chowki to seek
                        blessings and attract positive energies into their lives. It is an important symbol in many
                        Hindu traditions and is considered a powerful tool for personal and spiritual development.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-12 col-lg-3 mb-4">
                    <img src="{% static 'assets/img/product-img/product/p3.jpeg' %}" class="img-fluid" alt="img1">
                </div>
                <div class="col-md-6 col-12 col-lg-3 mb-4">
                    <img src="{% static 'assets/img/product-img/product/p4.jpeg' %}" class="img-fluid" alt="img1">
                </div>
                <div class="col-md-6 col-12 col-lg-3 mb-4">
                    <img src="{% static 'assets/img/product-img/product/a3.jpeg' %}" class="img-fluid" alt="img1">
                </div>
                <div class="col-md-6 col-12 col-lg-3 mb-4">
                    <img src="{% static 'assets/img/product-img/product/a4.jpeg' %}" class="img-fluid" alt="img1">
                </div>

            </div>

        </div>
    </div>
</section>

{% endblock %}