{% extends 'base.html' %}
{% load static %}

{% block content %}

    <!-- ======= banner-section ======= -->

    <section id="banner">
        <div class="rashi-page">
            <div class="banner-text container" >
                <h1 class="heading">Rashi Ratan <br> {Birth Stone}</h1>
            </div>
        </div>
    </section>

    <!-- ======= Gallery Section ======= -->
    <section id="portfolio" class="portfolio">
        <div class="container" data-aos="fade-up">
  
  
          <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">
  
            <div class="col-lg-4 col-md-6 portfolio-item">
              <img src="{% static 'assets/img/product-img/birth/img.jpg ' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Rashi Ratan</h4>
                <a href="{% static 'assets/img/product-img/birth/img.jpg ' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Rashi Ratan"><i class="bx bx-plus"></i></a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item">
              <img src="{% static 'assets/img/product-img/birth/img1.jpg ' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Rashi Ratan</h4>
                <a href="{% static 'assets/img/product-img/birth/img1.jpg ' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Rashi Ratan"><i class="bx bx-plus"></i></a>
                </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item">
              <img src="{% static 'assets/img/product-img/birth/img2.jpg ' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Rashi Ratan</h4>
                <a href="{% static 'assets/img/product-img/birth/img2.jpg ' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Rashi Ratan"><i class="bx bx-plus"></i></a>
            </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item">
              <img src="{% static 'assets/img/product-img/birth/img3.jpg ' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Rashi Ratan</h4>
                <a href="{% static 'assets/img/product-img/birth/img3.jpg ' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Rashi Ratan"><i class="bx bx-plus"></i></a>
            </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item">
              <img src="{% static 'assets/img/product-img/birth/img4.jpg ' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Rashi Ratan</h4>
                <a href="{% static 'assets/img/product-img/birth/img4.jpg ' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Rashi Ratan"><i class="bx bx-plus"></i></a>
            </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item">
              <img src="{% static 'assets/img/product-img/birth/img5.jpg ' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Rashi Ratan</h4>
                <a href="{% static 'assets/img/product-img/birth/img5.jpg ' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Rashi Ratan"><i class="bx bx-plus"></i></a>
            </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item">
              <img src="{% static 'assets/img/product-img/birth/img6.jpg ' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Rashi Ratan</h4>
                <a href="{% static 'assets/img/product-img/birth/img6.jpg ' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Rashi Ratan"><i class="bx bx-plus"></i></a>
            </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item">
              <img src="{% static 'assets/img/product-img/birth/img7.jpg ' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Rashi Ratan</h4>
                <a href="{% static 'assets/img/product-img/birth/img7.jpg ' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Rashi Ratan"><i class="bx bx-plus"></i></a>
            </div>
            </div>
  
  
            <div class="col-lg-4 col-md-6 portfolio-item">
              <img src="{% static 'assets/img/product-img/birth/img8.jpg ' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Rashi Ratan</h4>
                <a href="{% static 'assets/img/product-img/birth/img8.jpg ' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Rashi Ratan"><i class="bx bx-plus"></i></a>
            </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item">
              <img src="{% static 'assets/img/product-img/birth/img9.jpg ' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Rashi Ratan</h4>
                <a href="{% static 'assets/img/product-img/birth/img9.jpg ' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Rashi Ratan"><i class="bx bx-plus"></i></a>
            </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item">
              <img src="{% static 'assets/img/product-img/birth/img10.jpg ' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Rashi Ratan</h4>
                <a href="{% static 'assets/img/product-img/birth/img10.jpg ' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Rashi Ratan"><i class="bx bx-plus"></i></a>
            </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item">
              <img src="{% static 'assets/img/product-img/birth/img11.jpg ' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Rashi Ratan</h4>
                <a href="{% static 'assets/img/product-img/birth/img11.jpg ' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Rashi Ratan"><i class="bx bx-plus"></i></a>
            </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item">
              <img src="{% static 'assets/img/product-img/birth/img12.jpg ' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Rashi Ratan</h4>
                <a href="{% static 'assets/img/product-img/birth/img12.jpg ' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Rashi Ratan"><i class="bx bx-plus"></i></a>
            </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item">
              <img src="{% static 'assets/img/product-img/birth/img13.jpg ' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Rashi Ratan</h4>
                <a href="{% static 'assets/img/product-img/birth/img13.jpg ' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Rashi Ratan"><i class="bx bx-plus"></i></a>
            </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item">
              <img src="{% static 'assets/img/product-img/birth/img14.jpg ' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Rashi Ratan</h4>
                <a href="{% static 'assets/img/product-img/birth/img14.jpg ' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Rashi Ratan"><i class="bx bx-plus"></i></a>
            </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item">
              <img src="{% static 'assets/img/product-img/birth/img15.jpg ' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Rashi Ratan</h4>
                <a href="{% static 'assets/img/product-img/birth/img15.jpg ' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Rashi Ratan"><i class="bx bx-plus"></i></a>
            </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item">
              <img src="{% static 'assets/img/product-img/birth/img16.jpg ' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Rashi Ratan</h4>
                <a href="{% static 'assets/img/product-img/birth/img16.jpg ' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Rashi Ratan"><i class="bx bx-plus"></i></a>
            </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item">
              <img src="{% static 'assets/img/product-img/birth/img17.jpg ' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Rashi Ratan</h4>
                <a href="{% static 'assets/img/product-img/birth/img17.jpg ' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Rashi Ratan"><i class="bx bx-plus"></i></a>
            </div>
            </div>
 
            <div class="col-lg-4 col-md-6 portfolio-item">
              <img src="{% static 'assets/img/product-img/birth/img18.jpg ' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Rashi Ratan</h4>
                <a href="{% static 'assets/img/product-img/birth/img18.jpg ' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Rashi Ratan"><i class="bx bx-plus"></i></a>
            </div>
            </div>
 
            <div class="col-lg-4 col-md-6 portfolio-item">
              <img src="{% static 'assets/img/product-img/birth/img19.jpg ' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Rashi Ratan</h4>
                <a href="{% static 'assets/img/product-img/birth/img19.jpg ' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Rashi Ratan"><i class="bx bx-plus"></i></a>
            </div>
            </div>
 
            <div class="col-lg-4 col-md-6 portfolio-item">
              <img src="{% static 'assets/img/product-img/birth/img20.jpg ' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Rashi Ratan</h4>
                <a href="{% static 'assets/img/product-img/birth/img20.jpg ' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Rashi Ratan"><i class="bx bx-plus"></i></a>
            </div>
            </div>
 
          </div>
  
        </div>
      </section>
      <!-- End Gallery Section -->
{% endblock %}