{% load static %}

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">
        
            <div class="col-lg-6 col-md-6">
                <h4>SarvatoBhadra Gems</h4>
                <p>SarvatoBhadra Gems [Natural rare rough gemstones] was established in 1995 with the aim of
                    supplying the
                    world market with precious stones, semi-precious stones, rare rough gemstones, cheap metal
                    jewellery, fine
                    beads and mineral specimens.</p>
                    <div class="social-links mt-3">
                        <a href="https://twitter.com/Sarvatobhadra_g" class="twitter"><i class="bx bxl-twitter"></i></a>
                        <a href="https://www.facebook.com/profile.php?id=61552611966675" class="facebook"><i class="bx bxl-facebook"></i></a>
                        <a href="https://www.instagram.com/sarvatobhadragems/" class="instagram"><i class="bx bxl-instagram"></i></a>
                        <a href="https://www.linkedin.com/in/sarvatobhadra-undefined-9842b9299/" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                      </div>
            </div>

          
          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'home' %}">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'about' %}">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'product' %}">Products</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'contact' %}">Contact Us</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6">
            <div class="footer-info">
              <h4>Contact</h4>
              <p>
                Bangalore - 560022 <br>
                Karnataka, India<br><br>
                <strong><i class="bi bi-phone"></i></strong> +91 8840544273<br>
                <strong><i class="bi bi-envelope"></i></strong> sarvatobhadragems@gmail.com<br>
              </p>
              
            </div>
          </div>

          
          <!-- <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Our Newsletter</h4>
            <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>

          </div> -->

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        Copyright &copy;2023 | All Rights Reserved
        <a href="{% url 'home' %}">
            <strong>SarvatoBhadra Gems</strong>
        </a>
      </div>
    </div>
  </footer>
  <!-- End Footer -->